#p3d-embed {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
    z-index: 0;
    cursor: pointer;
}

#customHotspot {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  padding: 1em;
  border-radius: 5%;
}

#hotspot-logos img {
  max-width: 100px;
  height: auto;
}

#hotspot-logos div{
  display: none;
}
